@font-face {
  font-family: calibril;
  src: url(font/calibri.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    margin-top: 12px;
    height: 30%;
}

.wrapper {
    margin: 0px auto;
    margin-top: 14px;
    width: 98%;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: #dedede;
}

.form-control {
    height: 80px;
    border-width: 2px;    
    width: 70%;
    font-size: 28pt;
    margin: 0px auto;
    margin-bottom: 30px;
}

.card-body {
    width: 90%;
    margin: 0px auto;
}

.custom-control-label {
    -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(3);
  margin-bottom: 44px;
}

input[type=checkbox]
{
  /* triple-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(3);
  padding: 10px;
  margin-top: 21px;
}

input[type=radio]
{
  /* triple-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(3);
  padding: 10px;
  margin-top: 21px;
}

.h1 {
    font-size: 65pt;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 20px;
}

.modal-title {
    font-weight: 500;
    font-size: 41pt;
}

.modal-dialog {
    max-width:100%;   
}

.fade {
    padding: 0px;
}

.modal-dialog {
    margin: 0px;
    max-width:100%;
}

.modal-content {
    max-width: 97%;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 8px;
    
}

.modal-header {
    padding: 2rem;    
}

.modal-body {
    padding: 2rem;
    font-size: 33pt;
}

.modal-footer {
    padding: 2rem;
}

.info {
    height: 48px;
    width: 48px;
}

.h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
    margin-top: 130px;
    margin-bottom: 90px;
    font-size: 47pt;
}

.progress {
    margin: 0px auto;
    width: 84%;
    height: 50px;
    border-radius: 10px;
}

.form-check-label {
    margin-bottom: 15px;
    margin-left:20px;
    font-size: 32pt;
}

.custom-range{
  transform: scale(4);
  width: 20%
}

.btn-primary {
    margin-left:19px;
    font-size: 36pt;
    padding-left:26px;
    padding-right:26px;
    padding-top:10px;
    padding-bottom:10px;
    border-width:2px;
    border-radius: 8px;    
}

.btn-outline-primary {
    margin-left:19px;
    font-size: 36pt;
    padding-left:26px;
    padding-right:26px;
    padding-top:10px;
    padding-bottom:10px;
    border-width:2px;
    border-radius: 8px;
}

.btn-outline-secondary {
    margin-right: 19px;
    font-size: 36pt;
    padding-left:26px;
    padding-right:26px;
    padding-top:10px;
    padding-bottom:10px;
    border-width:2px;
    border-radius: 8px;
}

.form-check {
    text-align:center;
}

.center {
    text-align: center;
    margin: 0px auto;   
    margin-top: 108px;
}

.logo {
    text-align: center;
    margin-top: 111px;
    margin-bottom: 6px;
}

.footer {
    margin-top: 295px;
    margin-bottom: 30px;
    font-size: 27pt;
    text-align: center;
    color: #5e5e5e;
}

.footer a {
    text-decoration: underline;
    color: #5e5e5e;
    transition: .2s color;
}

.footer a:hover {
    color: #858585;
}

.disclink {
    text-align: center;
}

.disclink a{  
    text-decoration: underline;
    font-size: 32pt;
    color:#212529;
    transition: .2s color;
}

.disclink a:hover{
    color: #858585;
}

.alerto {
    width: 98%;
    margin: 0px auto;
    margin-top:35px;
    font-size: 26pt;
}

nav {
    text-decoration: none;
    margin-top: 20px;
}

nav li {
    display: inline;
    font-size: 28pt;
}
